* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.landingMain {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: left;
  align-items: center;
  padding: 50px;
  background-image: url(./src/images/3609060.jpg);
}
.landingTechDiv {
  display: flex;
}
.landingTechDiv img {
  width: 280px;
}
div .first {
  font-size: 200px;
  padding-top: 25px;
  color: #00cfc8;
}

.landingTextDiv {
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: 50px;
  font-size: 100px;
}

p {
  display: grid;
  justify-items: center;
  align-items: center;

  color: #00cfc8;
}

.btn {
  justify-self: center;
  padding-top: 30px;
  font-family: Roboto, sans-serif;
  width: 320px;
  height: 50px;
  font-weight: 50px;
  font-size: 30px;
  color: #fff;
  background: linear-gradient(90deg, #0066cc 0%, #c500cc 100%);
  padding: 10px 30px;
  border: 2px solid #0066cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.btn:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background: linear-gradient(90deg, #0066cc 0%, #c500cc 100%);
  color: #00cfc8;
  border: solid 2px #0066cc;
}
