@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Fira, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
.landingHeader {
  height: 200px;
  padding-left: 60px;
  background-color: black;
}
img {
  height: max-content;
}

.landingMain {
  height: 780px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-image: linear-gradient(pink, lightyellow, lightblue);
}
.landingTechDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 55px;
  animation-name: techDiv;
  animation-duration: 3s;
  animation-timing-function: linear;
}
.first {
  font-size: 200px;

  animation-name: techLetter;
  animation-duration: 3s;
}
.second {
  font-size: 200px;
  animation-name: techLetter;
  animation-duration: 3s;
}
.third {
  font-size: 200px;
  animation-name: techLetter;
  animation-duration: 3s;
}
.fourth {
  font-size: 200px;
  animation-name: techLetter;
  animation-duration: 3s;
}
.landingTextDiv {
  font-size: 150px;

  animation-name: textDiv;
  animation-duration: 3s;
  animation-timing-function: linear;
}
p {
  display: grid;
  justify-items: center;
  align-items: center;
  color: rgb(131, 25, 78);
}
@keyframes techDiv {
  0% {
    width: 0%;
    color: hotpink;
  }
  50% {
    width: 50%;
    color: hotpink;
  }
  80% {
    width: 100%;
    color: hotpink;
  }
  90% {
    color: black;
  }
  100% {
    color: hotpink;
  }
}
@keyframes techLetter {
  0% {
    width: 0%;
    opacity: 0%;
    outline: black;
    color: hotpink;
  }
  50% {
    width: 50%;
    opacity: 50%;
    outline: black;
    color: hotpink;
  }
  80% {
    width: 100%;
    opacity: 80%;
    outline: black;
    color: hotpink;
  }
  90% {
    color: black;
  }
  100% {
    color: hotpink;
  }
}
@keyframes textDiv {
  0% {
    justify-self: center;
    opacity: 0%;
  }
  50% {
    transform: rotate(180deg);
    opacity: 50%;
  }
  100% {
    transform: rotate(360deg);
  }
}
