@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Fira, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.landingMain {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-image: url(./src/images/logo.png);
}
.landingTechDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 35px;
  animation-name: techDiv;
  animation-duration: 3s;
  animation-timing-function: linear;
}
.first {
  font-size: 200px;

  animation-name: techLetter;
  animation-duration: 3s;
}
.second {
  font-size: 200px;
  animation-name: techLetter;
  animation-duration: 3s;
}
.third {
  font-size: 200px;
  animation-name: techLetter;
  animation-duration: 3s;
}
.fourth {
  font-size: 200px;
  animation-name: techLetter;
  animation-duration: 3s;
}
.landingTextDiv {
  font-size: 100px;
  padding-right: 0px;
}

p {
  display: grid;
  justify-items: center;
  align-items: center;
  color: #124e66;
}
.output {
  border-right: 3px solid black;
}
@keyframes techDiv {
  0% {
    width: 0%;
    color: #124e66;
  }
  50% {
    width: 50%;
    color: #124e66;
  }
  80% {
    width: 100%;
    color: #124e66;
  }
  90% {
    color: black;
  }
  100% {
    color: #124e66;
  }
}
@keyframes techLetter {
  0% {
    width: 0%;
    opacity: 0%;
    outline: black;
    color: #124e66;
  }
  50% {
    width: 50%;
    opacity: 50%;
    outline: black;
    color: #124e66;
  }
  80% {
    width: 100%;
    opacity: 80%;
    outline: black;
    color: #124e66;
  }
  90% {
    color: black;
  }
  100% {
    color: #124e66;
  }
}
